*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:monospace;
}
.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.calc{
    margin-top: 5rem;
    width: 20rem;
    height: 30rem;
    background-color: rgb(206, 201, 201);
    border-radius: 2rem;
    padding: 5rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.input{
    margin-top: 2rem;
    width: 70%;
    height: 2.5rem;
    background-color: #fff;
    border-radius: 0.8rem;
    text-align: right;
    font-weight: 700;
    font-size:1.4rem;
    
}
.buttons{
    padding: 1.8rem;
    display: grid;
    grid-template-columns: auto auto auto auto ;
    
}
button{
    background-color: #fff;
    padding: 1.2rem;
    margin: 0.3rem;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: 700;
    box-shadow: 1px,10px,3px,4px #000;
    transition: all 0.4s ease;
}
button:hover{
    background-color: rgb(99, 96, 96);
    color: #fff;
}
.btn{
background-color: rgb(209, 49, 81);
color: #fff;
}

